<a href="https://colab.research.google.com/github/Sethicus-Millicus/basketball_data/blob/web-scraping-edits/pull_college_gamelogs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Web scraping Tutorial

* This notebook is a quick reference on how to use beautifulsoup4 to download data from websites- specifically basketball-reference.com

In [61]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from urllib.request import urlopen
import os

In [62]:
url = 'https://www.sports-reference.com/cbb/players/matthew-hurt-1/gamelog/2021'
page = requests.get(url)
page

In [63]:
html = urlopen(url)
html

In [64]:
soup = BeautifulSoup(html)
#print(soup.prettify())

In [65]:
# using findAll toget the column headers

soup.findAll('thead')

headers = [th.getText() for th in soup.findAll('thead')[0].findAll('th')]
headers

['Rk',
 'Date',
 'School',
 '\xa0',
 'Opponent',
 'Type',
 '\xa0',
 'GS',
 'MP',
 'FG',
 'FGA',
 'FG%',
 '2P',
 '2PA',
 '2P%',
 '3P',
 '3PA',
 '3P%',
 'FT',
 'FTA',
 'FT%',
 'ORB',
 'DRB',
 'TRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS']

In [66]:
headers.remove('Rk')
#remove extra header
headers

['Date',
 'School',
 '\xa0',
 'Opponent',
 'Type',
 '\xa0',
 'GS',
 'MP',
 'FG',
 'FGA',
 'FG%',
 '2P',
 '2PA',
 '2P%',
 '3P',
 '3PA',
 '3P%',
 'FT',
 'FTA',
 'FT%',
 'ORB',
 'DRB',
 'TRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS']

In [67]:
#stats = [[td.gettext() for td in soup.findAll('td', {'data-stat': stat})] for stat in headers]
# shrink it down to just the data table stats

# this table_body returns as a list
#table_body = soup.findAll('tbody')
#table_body

#def table_body(soup):
   # return soup.has_attr('data-stat')
#rows = table_body.find_all('tr')

table_body = soup.tbody
#table_body

rows = table_body.findAll('tr')
#rows

In [68]:
#rk = soup.find_all(attrs={'data-stat':'ranker'})
#rk

In [69]:
player_stats = [[td.getText() for td in rows[i].findAll('td')] for i in range(len(rows))]
#player_stats

In [70]:
gamelog = pd.DataFrame(player_stats, columns = headers)
#gamelog

In [71]:
gamelog.head()

         Date School           Opponent Type    GS  ... TRB AST STL BLK TOV PF PTS
0  2020-11-28   Duke       Coppin State  REG  W  1  ...   7   1   1   0   1  4  12
1  2020-12-01   Duke     Michigan State  REG  L  1  ...  13   0   0   0   1  2  21
2  2020-12-04   Duke         Bellarmine  REG  W  1  ...   6   2   1   1   1  3  24
3  2020-12-08   Duke           Illinois  REG  L  1  ...   7   0   1   1   0  4  19
4  2020-12-16   Duke  @      Notre Dame  REG  W  1  ...   5   3   1   2   1  2  18

[5 rows x 29 columns]

In [72]:
gamelog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 29 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      12 non-null     object
 1   School    12 non-null     object
 2             12 non-null     object
 3   Opponent  12 non-null     object
 4   Type      12 non-null     object
 5             12 non-null     object
 6   GS        12 non-null     object
 7   MP        12 non-null     object
 8   FG        12 non-null     object
 9   FGA       12 non-null     object
 10  FG%       12 non-null     object
 11  2P        12 non-null     object
 12  2PA       12 non-null     object
 13  2P%       12 non-null     object
 14  3P        12 non-null     object
 15  3PA       12 non-null     object
 16  3P%       12 non-null     object
 17  FT        12 non-null     object
 18  FTA       12 non-null     object
 19  FT%       12 non-null     object
 20  ORB       12 non-null     object
 21  DRB       12 non-null     object
 22  TRB       12 non-null     object
 23  AST       12 non-null     object
 24  STL       12 non-null     object
 25  BLK       12 non-null     object
 26  TOV       12 non-null     object
 27  PF        12 non-null     object
 28  PTS       12 non-null     object
dtypes: object(29)
memory usage: 2.8+ KB

In [73]:
# Need to convert data type to int



gamelog = gamelog.apply(pd.to_numeric, errors='ignore')
gamelog['Date'] = pd.to_datetime(gamelog['Date'])
gamelog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 29 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      12 non-null     datetime64[ns]
 1   School    12 non-null     object
 2             12 non-null     object
 3   Opponent  12 non-null     object
 4   Type      12 non-null     object
 5             12 non-null     object
 6   GS        12 non-null     int64
 7   MP        12 non-null     int64
 8   FG        12 non-null     int64
 9   FGA       12 non-null     int64
 10  FG%       12 non-null     float64
 11  2P        12 non-null     int64
 12  2PA       12 non-null     int64
 13  2P%       12 non-null     float64
 14  3P        12 non-null     int64
 15  3PA       12 non-null     int64
 16  3P%       12 non-null     float64
 17  FT        12 non-null     int64
 18  FTA       12 non-null     int64
 19  FT%       11 non-null     float64
 20  ORB       12 non-null     int64
 21  DRB       12 non-null     int64
 22  TRB       12 non-null     int64
 23  AST       12 non-null     int64
 24  STL       12 non-null     int64
 25  BLK       12 non-null     int64
 26  TOV       12 non-null     int64
 27  PF        12 non-null     int64
 28  PTS       12 non-null     int64
dtypes: datetime64[ns](1), float64(4), int64(19), object(5)
memory usage: 2.8+ KB

In [74]:
gamelog["FPTS"] = (gamelog.PTS) + (gamelog.TRB*1.2) + (gamelog.AST*1.5) + (gamelog.STL*3) + (gamelog.BLK*3) + (gamelog.TOV*-1)

In [75]:
gamelog.columns

Index(['Date', 'School', ' ', 'Opponent', 'Type', ' ', 'GS', 'MP', 'FG', 'FGA',
       'FG%', '2P', '2PA', '2P%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'FPTS'],
      dtype='object')

In [78]:
# change column name
#column_names = {'': 'Set', '.1': 'W_L'}
#gamelog.columns = gamelog.columns.str.strip()
#gamelog = gamelog.rename(columns = column_names)
#gamelog.columns


gamelog.columns.values[2] = "game_loc"
gamelog.columns.values[5] = "W_L"
gamelog.columns

Index(['Date', 'School', 'game_loc', 'Opponent', 'Type', 'W_L', 'GS', 'MP',
       'FG', 'FGA', 'FG%', '2P', '2PA', '2P%', '3P', '3PA', '3P%', 'FT', 'FTA',
       'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'FPTS'],
      dtype='object')

In [79]:
gamelog['Home_Game'] = [1 if pd.isna(gamelog.game_loc[gm])==True else 0 for gm in range(len(gamelog))]
gamelog.drop(['game_loc'], inplace=True, axis=1)
gamelog.head()

AttributeError: ignored

In [ ]:
# binary for game played vs not played
df_embiid['g'] = [1 if pd.isna(df_embiid.G[gm])==False else 0 for gm in range(len(df_embiid))]
df_embiid.head()

   Unnamed: 0    G       Date     Age  ...  g HOME_GAME back_to_back win
0           0  1.0 2020-12-23  26-282  ...  1         1            0   1
1           1  2.0 2020-12-26  26-285  ...  1         0            0   1
2           2  NaN 2020-12-27  26-286  ...  0         0            1   0
3           3  3.0 2020-12-29  26-288  ...  1         1            0   1
4           4  4.0 2020-12-31  26-290  ...  1         0            0   1

[5 rows x 34 columns]

In [ ]:
df_embiid['HOME_GAME'] = [1 if pd.isna(df_embiid.game_loc[gm])==True else 0 for gm in range(len(df_embiid))]
df_embiid.drop(['game_loc'], inplace=True, axis=1)
df_embiid.head()

AttributeError: ignored

In [ ]:
# add back-to-back indicator
# df_embiid['back_to_back'] = [1 if ]
df_embiid['Date'] = pd.to_datetime(df_embiid['Date'])

# making column out of the difference in days. 
df_embiid['back_to_back'] = pd.to_numeric(df_embiid.Date.dt.day.diff(), downcast='integer', errors='coerce')


# need to make a column where 1 for back to back and zero for not
df_embiid['back_to_back'] = [1 if (df_embiid.back_to_back[x] == 1.0) == True else 0 for x in range(len(df_embiid))]




df_embiid.head()

   Unnamed: 0    G       Date     Age  ...  g HOME_GAME back_to_back win
0           0  1.0 2020-12-23  26-282  ...  1         1            0   1
1           1  2.0 2020-12-26  26-285  ...  1         0            0   1
2           2  NaN 2020-12-27  26-286  ...  0         0            1   0
3           3  3.0 2020-12-29  26-288  ...  1         1            0   1
4           4  4.0 2020-12-31  26-290  ...  1         0            0   1

[5 rows x 34 columns]

In [ ]:
# getting wins into binary
df_embiid['win'] = [1 if df_embiid['outcome'][gm][:1] == 'W' else 0 for gm in range(len(df_embiid))]
sum(df_embiid.win)

12

In [ ]:
# would like to change 'outcome' to just a positive or negative integer

In [ ]:
# function to get normalized stats
def stat_per_time(stat, minutes, per=36):
  if minutes == 0:
    return 0
  else:
    val_min = stat/minutes
    return round(val_min * per, 1)

# I want to see the normalized stat for fantasy points. but this can be used for any column. 

df_embiid['fpts_per_36'] = df_embiid.apply(lambda row: stat_per_time(stat = row['FPTS'], minutes = row['MP']), axis=1)

In [ ]:
df_embiid

    Unnamed: 0     G       Date  ... back_to_back win fpts_per_36
0            0   1.0 2020-12-23  ...            0   1        50.5
1            1   2.0 2020-12-26  ...            0   1        55.3
2            2   NaN 2020-12-27  ...            1   0         0.0
3            3   3.0 2020-12-29  ...            0   1        58.1
4            4   4.0 2020-12-31  ...            0   1        55.0
5            5   5.0 2021-01-02  ...            0   1        42.0
6            6   6.0 2021-01-04  ...            0   1        68.2
7            7   7.0 2021-01-06  ...            0   1        67.0
8            8   8.0 2021-01-07  ...            1   0        44.4
9            9   NaN 2021-01-09  ...            0   0         0.0
10          10   9.0 2021-01-11  ...            0   0        61.1
11          11  10.0 2021-01-12  ...            1   1        77.1
12          12  11.0 2021-01-14  ...            0   1        25.2
13          13   NaN 2021-01-16  ...            0   0         0.0
14          14  12.0 2021-01-20  ...            0   1        67.8
15          15  13.0 2021-01-22  ...            0   1        64.0
16          16  14.0 2021-01-23  ...            1   1        58.8
17          17   NaN 2021-01-25  ...            0   0         0.0

[18 rows x 35 columns]

In [ ]:
df_embiid.to_csv("joelembiid_gamelog.csv")