# Web scraping Tutorial

* This notebook is a quick reference on how to use beautifulsoup4 to download data from websites- specifically basketball-reference.com

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from urllib.request import urlopen
import os

In [2]:
url = 'https://www.basketball-reference.com/players/e/embiijo01/gamelog/2021'
page = requests.get(url)
page

In [3]:
html = urlopen(url)
html

In [4]:
soup = BeautifulSoup(html)
#print(soup.prettify())

In [5]:
# using findAll toget the column headers

soup.findAll('thead')

headers = [th.getText() for th in soup.findAll('thead')[0].findAll('th')]
headers

['Rk',
 'G',
 'Date',
 'Age',
 'Tm',
 '\xa0',
 'Opp',
 '\xa0',
 'GS',
 'MP',
 'FG',
 'FGA',
 'FG%',
 '3P',
 '3PA',
 '3P%',
 'FT',
 'FTA',
 'FT%',
 'ORB',
 'DRB',
 'TRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS',
 'GmSc',
 '+/-']

In [10]:
headers.remove('Rk')
#remove extra header
headers

['G',
 'Date',
 'Age',
 'Tm',
 '\xa0',
 'Opp',
 '\xa0',
 'GS',
 'MP',
 'FG',
 'FGA',
 'FG%',
 '3P',
 '3PA',
 '3P%',
 'FT',
 'FTA',
 'FT%',
 'ORB',
 'DRB',
 'TRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS',
 'GmSc',
 '+/-']

In [11]:
#stats = [[td.gettext() for td in soup.findAll('td', {'data-stat': stat})] for stat in headers]
# shrink it down to just the data table stats

# this table_body returns as a list
#table_body = soup.findAll('tbody')
#table_body

#def table_body(soup):
   # return soup.has_attr('data-stat')
#rows = table_body.find_all('tr')

table_body = soup.tbody
#table_body

rows = table_body.findAll('tr')
#rows

In [12]:
#rk = soup.find_all(attrs={'data-stat':'ranker'})
#rk

In [13]:
player_stats = [[td.getText() for td in rows[i].findAll('td')] for i in range(len(rows))]
#player_stats

In [14]:
gamelog = pd.DataFrame(player_stats, columns = headers)
#gamelog

In [15]:
gamelog.to_csv("joelembiid_gamelog.csv")

In [16]:
df_embiid = pd.read_csv('joelembiid_gamelog.csv')

In [17]:
df_embiid["FPTS"] = (df_embiid.PTS) + (df_embiid.TRB*1.2) + (df_embiid.AST*1.5) + (df_embiid.STL*3) + (df_embiid.BLK*3) + (df_embiid.TOV*-1)

In [29]:
# fucntion to turn minutes played into a float. 

def min_to_float(x):
    if pd.isna(x)==True:
        return 0
    else:
        mins = int(x.split(':')[0])
        secs = int(x.split(':')[1])/60.0
        val = mins + secs
        return round(val, 1)

# apply to df

df_embiid['MP'] = df_embiid['MP'].apply(min_to_float)

In [30]:
# binary for game played vs not played
df_embiid['g'] = [1 if pd.isna(df_embiid.G[gm])==False else 0 for gm in range(len(df_embiid))]
df_embiid.head()

   Unnamed: 0    G       Date     Age  ...  g HOME_GAME back_to_back win
0           0  1.0 2020-12-23  26-282  ...  1         1            0   1
1           1  2.0 2020-12-26  26-285  ...  1         0            0   1
2           2  NaN 2020-12-27  26-286  ...  0         0            1   0
3           3  3.0 2020-12-29  26-288  ...  1         1            0   1
4           4  4.0 2020-12-31  26-290  ...  1         0            0   1

[5 rows x 34 columns]

In [31]:
# change column name
column_names = {'': 'game_loc', '.1': 'outcome'}
df_embiid.columns = df_embiid.columns.str.strip()
df_embiid = df_embiid.rename(columns = column_names)
df_embiid.columns

Index(['Unnamed: 0', 'G', 'Date', 'Age', 'Tm', 'Opp', 'outcome', 'GS', 'MP',
       'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-',
       'FPTS', 'g', 'HOME_GAME', 'back_to_back', 'win'],
      dtype='object')

In [32]:
df_embiid['HOME_GAME'] = [1 if pd.isna(df_embiid.game_loc[gm])==True else 0 for gm in range(len(df_embiid))]
df_embiid.drop(['game_loc'], inplace=True, axis=1)
df_embiid.head()

AttributeError: ignored

In [33]:
# add back-to-back indicator
# df_embiid['back_to_back'] = [1 if ]
df_embiid['Date'] = pd.to_datetime(df_embiid['Date'])

# making column out of the difference in days. 
df_embiid['back_to_back'] = pd.to_numeric(df_embiid.Date.dt.day.diff(), downcast='integer', errors='coerce')


# need to make a column where 1 for back to back and zero for not
df_embiid['back_to_back'] = [1 if (df_embiid.back_to_back[x] == 1.0) == True else 0 for x in range(len(df_embiid))]




df_embiid.head()

   Unnamed: 0    G       Date     Age  ...  g HOME_GAME back_to_back win
0           0  1.0 2020-12-23  26-282  ...  1         1            0   1
1           1  2.0 2020-12-26  26-285  ...  1         0            0   1
2           2  NaN 2020-12-27  26-286  ...  0         0            1   0
3           3  3.0 2020-12-29  26-288  ...  1         1            0   1
4           4  4.0 2020-12-31  26-290  ...  1         0            0   1

[5 rows x 34 columns]

In [34]:
# getting wins into binary
df_embiid['win'] = [1 if df_embiid['outcome'][gm][:1] == 'W' else 0 for gm in range(len(df_embiid))]
sum(df_embiid.win)

12

In [35]:
# would like to change 'outcome' to just a positive or negative integer

In [36]:
# function to get normalized stats
def stat_per_time(stat, minutes, per=36):
  if minutes == 0:
    return 0
  else:
    val_min = stat/minutes
    return round(val_min * per, 1)

# I want to see the normalized stat for fantasy points. but this can be used for any column. 

df_embiid['fpts_per_36'] = df_embiid.apply(lambda row: stat_per_time(stat = row['FPTS'], minutes = row['MP']), axis=1)

In [37]:
df_embiid

    Unnamed: 0     G       Date  ... back_to_back win fpts_per_36
0            0   1.0 2020-12-23  ...            0   1        50.5
1            1   2.0 2020-12-26  ...            0   1        55.3
2            2   NaN 2020-12-27  ...            1   0         0.0
3            3   3.0 2020-12-29  ...            0   1        58.1
4            4   4.0 2020-12-31  ...            0   1        55.0
5            5   5.0 2021-01-02  ...            0   1        42.0
6            6   6.0 2021-01-04  ...            0   1        68.2
7            7   7.0 2021-01-06  ...            0   1        67.0
8            8   8.0 2021-01-07  ...            1   0        44.4
9            9   NaN 2021-01-09  ...            0   0         0.0
10          10   9.0 2021-01-11  ...            0   0        61.1
11          11  10.0 2021-01-12  ...            1   1        77.1
12          12  11.0 2021-01-14  ...            0   1        25.2
13          13   NaN 2021-01-16  ...            0   0         0.0
14          14  12.0 2021-01-20  ...            0   1        67.8
15          15  13.0 2021-01-22  ...            0   1        64.0
16          16  14.0 2021-01-23  ...            1   1        58.8
17          17   NaN 2021-01-25  ...            0   0         0.0

[18 rows x 35 columns]

In [38]:
df_embiid.to_csv("joelembiid_gamelog.csv")