In [30]:
import pandas as pd
import time
from nba_api.stats.static import players, teams
from nba_api.stats.endpoints import playergamelog, fantasywidget, boxscoreusagev2, boxscoretraditionalv2, scoreboardv2

In [10]:
#sb = scoreboardv2.ScoreboardV2(game_date = '02/24/2021')

#sb.available.get_data_frame()

      GAME_ID  PT_AVAILABLE
0  0022000495             1
1  0022000493             0
2  0022000489             1
3  0022000492             1
4  0022000494             0
5  0022000491             1
6  0022000490             1
7  0022000496             0
8  0022000497             1

In [31]:
games = pd.read_csv('game_dates_pulled.csv')
games = games[games['pulled']!= 'done']

In [32]:
teams = pd.DataFrame(teams.get_teams())

In [33]:
for i, row in games.iterrows():
    time.sleep(5)
    if row['pulled']  == 'done':
        pass
    else:
        gd = row['dates']
        sb = scoreboardv2.ScoreboardV2(game_date = gd)
        sb = sb.game_header.get_data_frame()
        sb = sb[(sb['HOME_TEAM_ID'].isin(teams.id)) & (sb['GAME_STATUS_TEXT'] != "PPD") & (sb['GAME_SEQUENCE']!= 0)]
        
        if len(sb) == 0:
            games.loc[i, 'pulled']='done'
            games.to_csv('games_dates_pulled.csv', index=False)
            pass
        gids = sb['GAME_ID']
        gids = gids.append(gids)
        gids.reset_index(inplace=True, drop=True)

In [34]:
gids

0     0022001066
1     0022001067
2     0022001068
3     0022001069
4     0022001070
5     0022001071
6     0022001072
7     0022001073
8     0022001074
9     0022001075
10    0022001076
11    0022001077
12    0022001078
13    0022001079
14    0022001080
15    0022001066
16    0022001067
17    0022001068
18    0022001069
19    0022001070
20    0022001071
21    0022001072
22    0022001073
23    0022001074
24    0022001075
25    0022001076
26    0022001077
27    0022001078
28    0022001079
29    0022001080
Name: GAME_ID, dtype: object

In [37]:
bs = boxscoretraditionalv2.BoxScoreTraditionalV2(game_id = '0022001066')
bs = bs.player_stats.get_data_frame()
bs

Empty DataFrame
Columns: [GAME_ID, TEAM_ID, TEAM_ABBREVIATION, TEAM_CITY, PLAYER_ID, PLAYER_NAME, START_POSITION, COMMENT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TO, PF, PTS, PLUS_MINUS]
Index: []

[0 rows x 28 columns]